*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{ 
    background-image: url(/images/backimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    filter:contrast(1.1);  
    opacity: 85%;
}
.class_container1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    background: rgb(8 3 3 / 20%);
    color: #fff;
    border:1px solid rgb(107, 100, 100);
    
}
.class_header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.class_header h1{
    padding-inline: 40px;
}
.class_header h2{
    padding-inline: 40px;
}
.class_nav{
    display: flex;
    column-gap: 80px;
    padding-top: 20px;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    font-weight: bold;
    font-family:cursive;
}
.class_nav li{
    padding: 8px;
    border-radius: 10px;
}
.class_nav li:hover{
    transition: all 0.3s ease-in-out;
    border:1px solid rgb(103, 93, 93);
    background-color:rgb(207, 62, 91);
    cursor: pointer;
}
.class_nav li a{
    text-decoration: none;
    color: #fff;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 2s;
}
.class_text{
    border: 1px solid rgb(125, 117, 117);
    border-radius: 20px;
    height: 42px;
    padding: 13px;
    margin-right: 34px;
    margin-top: 13px;
}
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    font-size: large;
    backdrop-filter: blur(15px);
    background: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    display: none;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 250px;
    width: 200px;
    display: block;
}
.dropdown_menu li a {
    text-decoration: none;
    font-family: serif;
    color:darkred;
}
.toggle_btn{
    display: none;
    font-size: 30px;
    color: white;
    margin-left: 5px;
}
.dropdown_menu li {
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.dropdown_menu li:hover {
    background-color: white;
    color: mediumvioletred;
}
.container2{
    text-align: center;
    padding-block:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.class_vedio{
    margin-top: 20px;
    max-width: fit-content;
    display: inline-flex;
}
.class_vedio video{
    width: 100%;
    border-radius: 25px;
}
.container3{
    text-align: center;
    color: #fff;
}
.class_image_Container{
    display: flex;
    justify-content: space-evenly;
    padding-block: 20px;
    flex-wrap: wrap;
}

.class_img img{
    width: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10px;
}
.class_img{
    max-width: 400px;
}
.classpara{
    max-width: 400px;
    text-align: start;
    padding-inline: 35px;
    margin-top: 15px;
}
.classpara li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color :#fff;
}
@media screen and (max-width :320px) {
    .class_navbar{
        display:none;
    }
    .toggle_btn{
        display: block;
        padding: 12px;
    }
}
@media screen and (max-width:768px) {
    .class_navbar{
        display:none;
    }
    .toggle_btn{
        display: block;
        padding: 12px;
    }
}